/*CENTER PANE START*/
#center {
    -fx-background-color: rgb(249, 240, 242);
}

#centerTaskRadioBtn {
    -fx-background-image: url("../icons/unchecked.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
    -fx-background-size: 24;

    -fx-border-image-insets: 0;
    -fx-background-insets: 0;
}

#centerTaskRadioBtn .radio {
    -fx-opacity: 0;
    -fx-padding: 10;
}

#centerTaskRadioBtn:hover {
    -fx-background-image: url("../icons/check.png");
}

#centerTaskRadioBtn:selected {
    -fx-background-image: url("../icons/checked.png");
}

#centerTaskPane {
    -fx-background-color: rgb(255, 196, 155);
    -fx-border-color: rgb(235, 176, 135);
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#centerTaskPane:hover {
    -fx-background-color: rgb(215, 156, 115);
    -fx-border-color: rgb(195, 136, 95);
}
/*CENTER PANE END*/