#TaskNameBtnContextMenu {
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-background-radius: 20 20 0 20;
    -fx-border-radius: 20 20 0 20;
}

#TaskNameBtnContextMenu .menu-item
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;

}

#TaskNameBtnContextMenu .menu-item:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

#TaskNameBtnContextMenu .menu-item .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

/*CENTER PANE START*/
#center .root, #center {
    -fx-background-color: rgb(249, 240, 242);
}

#centerListNameFieldPane {
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

#centerMenuBar .menu:hover, #centerMenuBar .menu:showing {
    -fx-background-color: rgb(229, 220, 222);
    -fx-border-color: rgb(189,180,181);
    -fx-background-radius: 12 12 0 12;
    -fx-border-radius: 12 12 0 12;
}

#centerMenuBar .context-menu, #centerMenuBar .menu-item:hover {
    -fx-border-radius: 12 0 12 12;
    -fx-background-radius: 12 0 12 12;
}

#centerMenuBar .context-menu {
    -fx-translate-x: -160;
    -fx-background-color: rgb(249, 240, 242);
    -fx-border-color: rgb(229, 220, 222);
}

#centerMenuBar .menu-item:hover {
    -fx-background-color: rgb(229, 220, 222);
    -fx-border-color: rgb(209,200,201);
}

#centerNewTaskPane {
    -fx-background-color: rgb(173, 182, 196);
    -fx-border-color: rgb(153, 162, 174);
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-style: solid;
}

#centerNewTaskPane:hover {
    -fx-background-color: rgb(143, 152, 166);
    -fx-border-color: rgb(123, 132, 146);
}

#centerTaskPane {
    -fx-background-color: rgb(255, 196, 155);
    -fx-border-color: rgb(235, 176, 135);
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#centerTaskPane:hover {
    -fx-background-color: rgb(215, 156, 115);
    -fx-border-color: rgb(195, 136, 95);
}

#centerTaskRadioBtn {
    -fx-background-image: url("../icons/unchecked.png");
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center;
    -fx-background-size: 24;

    -fx-border-image-insets: 0;
    -fx-background-insets: 0;
}

#centerTaskRadioBtn .radio {
    -fx-opacity: 0;
    -fx-padding: 10;
}

#centerTaskRadioBtn:hover {
    -fx-background-image: url("../icons/check.png");
}

#centerTaskRadioBtn:selected {
    -fx-background-image: url("../icons/checked.png");
}

#centerTaskBtn {
    -fx-alignment: baseline-left;
    -fx-min-height: 40;
    -fx-padding: 0 0 0 20;
}
/*CENTER PANE END*/