/*RIGHT PANE START*/

#right {
    -fx-background-color: rgb(231, 236, 239);
    -fx-border-color: rgb(201, 206, 209);
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 1;
}

/*, #rightAddDueDateBtn*/
#rightEditPane, #rightTaskNamePane, #rightAddNoteField, #rightAddDueDatePane {
    -fx-background-color: rgb(245, 229, 201);
    -fx-border-color: rgb(195, 179, 151);
}

#rightTaskNamePane {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: hidden hidden solid hidden;
}

#rightAddDueDateBtn, #rightAddNoteField, #rightAddDueDatePane {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#rightAddDueDateBtn:hover{
    -fx-border-width: 0.3;
    -fx-border-style: solid;
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
}

#rightDueDateClearBtn:hover {
    -fx-border-width: 0.3;
    -fx-border-style: solid;
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
}

#rightEditPane {
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid hidden hidden hidden;
}

/*#rightAddDueDateBtn:hover*/
#rightBackBtn:hover, #rightDeleteBtn:hover, #rightAddDueDateBtn:hover, #calendarBtn:hover, #rightDueDateClearBtn:hover {
    -fx-background-color: rgb(195, 179, 151);
    -fx-border-color: rgb(175, 159, 131);
}

#TaskNameTextFieldContextMenu {
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-background-radius: 20 20 0 20;
    -fx-border-radius: 20 20 0 20;
}

#calendarBtn {
    -fx-background-color: rgb(245, 229, 201);
    -fx-border-color: rgb(195, 179, 151);
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-min-height: 20;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.date-picker {
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.date-picker-popup {
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: rgb(195, 179, 151);
    -fx-background-radius: 8 8 0 0;
    -fx-border-radius: 8 8 0 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: rgb(195, 179, 151);
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .date-cell {
    -fx-background-color: rgb(245, 229, 201);
    -fx-border-color: rgb(195, 179, 151);
    -fx-border-width: 0.4;
    -fx-alignment: BASELINE_CENTER;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected {
    -fx-background-color: rgb(195, 179, 151);
    -fx-border-color: rgb(175, 159, 131);
}

/*RIGHT PANE END*/