/*TOP PANE START*/
#top {
    -fx-background-color: rgb(232, 209, 197);
    -fx-border-color: rgb(202, 179, 167);
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
}

#topMenuBar .menu:hover, #topMenuBar .menu:showing {
    -fx-background-color: rgb(212, 189, 177);
    -fx-border-color: rgb(172,149,137);
    -fx-border-radius: 12 12 12 0;
    -fx-background-radius: 12 12 12 0;
}

#topMenuBar .context-menu, #topMenuBar .menu-item:hover {
    -fx-background-radius: 0 12 12 12;
    -fx-border-radius: 0 12 12 12;
}

#topMenuBar .context-menu {
    -fx-background-color: rgb(232, 209, 197);
    -fx-border-color: rgb(202, 179, 167);
}

#topMenuBar .menu-item:hover {
    -fx-background-color: rgb(212, 189, 177);
    -fx-border-color: rgb(172,149,137);
}

#topSearchPane {
    -fx-background-color: rgb(227, 204, 192);
    -fx-border-color: rgb(197, 174, 162);
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
/*TOP PANE END*/

/*LEFT PANE START*/
#left {
    -fx-background-color: rgb(231, 236, 239);
    -fx-border-color: rgb(201, 206, 209);
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
}

#leftTodayBtn:hover, #leftTomorrowBtn:hover, #leftNextSevenDaysBtn:hover {
    -fx-background-color: rgb(220, 223, 229);
    -fx-border-color: rgb(200, 203, 209);
    -fx-border-style: solid hidden solid solid;
    -fx-border-width: 0.4;
    -fx-background-radius: 0 20 0 20;
    -fx-border-radius: 0 20 0 20;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

#leftShowListsBtn:hover, #leftShowListsBtn:selected {
    -fx-background-color: rgb(220, 223, 229);
    -fx-border-color: rgb(200, 203, 209);
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 0.5;
    -fx-background-radius: 20 20 0 0;
    -fx-border-radius: 20 20 0 0;
}

#leftScrollPane .viewport, #leftScrollPane .corner, #leftScrollPane {
    -fx-background-color: rgb(220, 223, 229);
    -fx-border-color: rgb(200, 203, 209);
}

#leftScrollPane {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: hidden hidden solid hidden;
}

#leftListBtn:hover {
    -fx-background-color: rgb(200, 203, 209);
    -fx-border-color: rgb(220, 223, 229);
    -fx-border-style: solid hidden solid hidden;
    -fx-border-width: 1;
}

#leftNewListBtn {
    -fx-background-color: rgb(173, 182, 196);
    -fx-border-color: rgb(153, 162, 174);
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-style: solid;
}

#leftNewListBtn:hover {
    -fx-background-color: rgb(143, 152, 166);
    -fx-border-color: rgb(123, 132, 146);
}
/*LEFT PANE END*/

/*RIGHT PANE START*/

#right {
    -fx-background-color: rgb(231, 236, 239);
    -fx-border-color: rgb(201, 206, 209);
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 1;
}

#rightEditPane, #rightTaskNamePane, #rightAddDueDateBtn, #rightAddNoteField {
    -fx-background-color: rgb(245, 229, 201);
    -fx-border-color: rgb(195, 179, 151);
}

#rightTaskNamePane {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: hidden hidden solid hidden;
}

#rightAddDueDateBtn, #rightAddNoteField, #rightAddDueDateBtn:hover {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#rightEditPane {
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid hidden hidden hidden;
}

#rightBackBtn:hover, #rightDeleteBtn:hover, #rightAddDueDateBtn:hover {
    -fx-background-color: rgb(195, 179, 151);
    -fx-border-color: rgb(175, 159, 131);
}
/*RIGHT PANE END*/
